body{
	font-family: sans-serif;
	    
}

#sidebar{
	float: right;
	width: 300px;
	position: absolute;
    left: 900px;
    top: 100px;

}

#wrap{
	width: 900px;
	margin: auto;
	background: #e3e3e3;
	overflow: hidden;
	padding: 10px 20px;

}

label{
	display: block;
}

img{
	width: 230px;

}

aside p img{
	width: 40px;
	position: absolute;
    left: 480px;
    bottom: 100px;
}