@-ms-viewport{
	
  width: device-width;
  
}

*{
	
	font-family: 'Roboto';
	
}

body{
	
	background-color:#E5E5E5;
	
}

#painel_minimizado{
	
	background-color:#000000;
	width:80px;
	height:642px;
	float:left;
	left:0px;
	top:0px;
	border-radius:18px;
	
}

#imagem_usuario_minimizado{
	
	position:absolute;
	width:35px;
	height:35px;
	top:25px;
	left:30px;
	border-radius: 50px;
	
}

#triangulo{
	
	position:absolute;
	width:0;
	height:0;
	top:300px;
	left:80px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid #F48C06;
	
}

#iniciar_reuniao{
	
	position:absolute;
	width:800px;
	height:100px;
	top:275px;
	left:320px;
	border-radius:30px;
	outline:none;
	font-size:30px;
	
}