@-ms-viewport{
	
	width: device-width;
	
}

*{
		
	font-family: 'Roboto';
		
}

body{
	
	background-color: white;
	
}

#painel_minimizado{

	background-color:#000000;
	width:80px;
	height:642px;
	float:left;
	left:0px;
	top:0px;
	border-radius:18px;
	
}

#imagem_usuario_minimizado{
	
	position:absolute;
	width:35px;
	height:35px;
	top:25px;
	left:30px;
	border-radius: 50px;
	
}

#triangulo{
	
	position:absolute;
	width:0;
	height:0;
	top:300px;
	left:80px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid #F48C06;
	
}

.servicos{
	
	position: absolute;
	left: 520px;
	
}

.foto {
	
	position:absolute;
	width:120px;
	height:120px;
	top:110px;
	left:620px;
	border: 1.5px solid;
	border-color: #000;
	border-radius: 60px;
	
}

.texto_foto{
	
	text-align: center;
	position:absolute;
	left:586px;
	top:235px;
	font-size:18pt;
	
}

#caixa_input{
	
	position:absolute;
	display:flex;
	width:700px;
	height:200px;
	left:340px;
	top:280px;
	
	justify-content:space-evenly;
	flex-direction:column;
	
}

#nome_caixa{
	
	display:flex;
	
	justify-content:space-between;
	align-content:center;
	
}

.nome{
	
	font-size:16pt;
	
}

.input{
	
	font-size:16pt;
	width:500px;
	height:30px;
	border-radius:30px;
	outline:none;
	
}

.input:focus{
	
	border-color: #e63946;
	
}

#servico_caixa{
	
	display:flex;
	
	justify-content:space-between;
	align-content:baseline;
	
}

.servico{
	
	font-size:16pt;
	
}

#horario_caixa{
	
	display:flex;
	
	justify-content:space-between;
	align-content:baseline;
	
}

.horario{
	
	font-size:16pt;
	
}

.salvar{
	
	position:absolute;
	background-color: #ffba08;
	width: 750px;
	left:315px;
	top:523px;
	font-size: 28px;
	transition: 0.4s;
	border-radius: 40px;
	outline:none;
	
}