@-ms-viewport{
	
  width: device-width;
  
}

*{
	
	font-family: 'Roboto';
	
}

body{
	
	background-color:#E5E5E5;
	
}

::-webkit-scrollbar-track {
    background-color:#E5E5E5;
}

::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
	border-radius:15px;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
	border-radius:10px;
	border-color:#F48C06
}

#painel_minimizado{
	
	background-color:#000000;
	width:80px;
	height:642px;
	float:left;
	left:0px;
	top:0px;
	border-radius:18px;
	
}

#imagem_usuario_minimizado{
	
	position:absolute;
	width:35px;
	height:35px;
	top:25px;
	left:30px;
	border-radius: 50px;
	
}

#triangulo{
	
	position:absolute;
	width:0;
	height:0;
	top:300px;
	left:80px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid #F48C06;
	
}

#caixa_painel_001{
	
	position:absolute;
	width:700;
	height:40;
	top:75px;
	left:370px;
	background-color:#FFFFFF;
	border-radius:30px;
	
}

#titulo_001{
	
	position:absolute;
	top:5px;
	left:200px;
	font-size:24px;
	
}

#evento_001{
	
	position:absolute;
	width:700;
	height:450;
	top:145px;
	left:370px;
	background-color:#FFFFFF;
	border-radius:30px;
	padding:20px;
	
}

#evento_imagem_001{
	
	position:absolute;
	width:400;
	height:200;
	top:75px;
	left:150px;
	
}

#evento_texto{
	
	position:absolute;
	top:325px;
	text-indent:50px;
	
}