*{
	
	font-family: 'Roboto';
	
}

#painel_preto {
	
	background-color:#000000;
	width:250px;
	height:642px;
	float:left;
	border-radius:18px;
	
}

#b_inicial {
	
	position:absolute;
	background-color:#FFBA08;
	width:200px;
	height:35px;	
	border-radius:20px;
	top:25px;
	left:25px;
	font-size:18pt;
	transition: 0.5s;
	
}

#b_inicial:hover{
	
	background-color:#000000;
	color:#FFFFFF;
	display:inline-block;
	border-color:#FFFFFF;
	
}

#b_perfil{
	
	position:absolute;
	background-color:#FFBA08;
	width:200px;
	height:35px;
	border-radius:20px;
	top:75px;
	left:25px;
	font-size:18pt;
	transition: 0.2s;
	
}

#b_perfil:hover{
	
	background-color:#000000;
	color:#FFFFFF;
	display:inline-block;
	border-color:#FFFFFF;
	
}

#b_reunioes{
	
	position:absolute;
	background-color:#FFBA08;
	width:200px;
	height:35px;
	border-radius:20px;
	top:125px;
	left:25px;
	font-size:18pt;
	transition: 0.2s;
	
}

#b_reunioes:hover{
	
	background-color:#000000;
	color:#FFFFFF;
	display:inline-block;
	border-color:#FFFFFF;
	
}

#b_eventos{
	
	position:absolute;
	background-color:#FFBA08;
	width:200px;
	height:35px;
	border-radius:20px;
	top:175px;
	left:25px;
	font-size:18pt;
	transition: 0.2s;
	
}

#b_eventos:hover{
	
	background-color:#000000;
	color:#FFFFFF;
	display:inline-block;
	border-color:#FFFFFF;
	
}

#b_servicos{
	
	position:absolute;
	background-color:#FFBA08;
	width:200px;
	height:35px;
	border-radius:20px;
	top:225px;
	left:25px;
	font-size:18pt;
	transition: 0.2s;
	
}

#b_servicos:hover{
	
	background-color:#000000;
	color:#FFFFFF;
	display:inline-block;
	border-color:#FFFFFF;
	
}

#b_alugados{
	
	position:absolute;
	background-color:#FFBA08;
	width:200px;
	height:35px;
	border-radius:20px;
	top:275px;
	left:25px;
	font-size:18pt;
	transition: 0.2s;
	
}

#b_alugados:hover{
	
	background-color:#000000;
	color:#FFFFFF;
	display:inline-block;
	border-color:#FFFFFF;
	
}

#b_logout{
	
	position:absolute;
	background-color:#FFBA08;
	width:200px;
	height:35px;
	border-radius:20px;
	top:600px;
	left:25px;
	font-size:18pt;
	transition: 0.2s;
	
}

#b_logout:hover{
	
	background-color:#000000;
	color:#FFFFFF;
	display:inline-block;
	border-color:#FFFFFF;
	
}

	
	position:absolute;
	width:200px;
	height:35px;
	top:25px;
	left:25px;
	margin:auto;
	text-align:center;
	font-size:20pt;
	
	

	position:absolute;
	width:200px;
	height:35px;
	top:75px;
	left:25px;
	margin:auto;
	text-align:center;
	font-size:2
body{
	
	background-color:#E5E5E5;
	
}

h1{
	
	position:absolute;
	top:400px;
	left:600px;
	
}

h2{
	
	position:absolute;
	top:445px;
	left:645px;
	
}

#imagem_usuario{
	
	position:absolute;
	top:150px;
	left:600px;
	width:250px;
	height:250px;
	border-radius: 200px;
	border-color:#F48C06;
	border-width:10px;
	
}